.article-actions {
  border-top: 1px solid #282C34;
  padding-top: 5px;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.center {
 text-align: center;
}

.description {
  margin-top: 0;
}

#logo {
  color: #fff;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  text-transform: uppercase;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.jumbotron {
 background: #282C34;
 background-image: asset-url('');
}

.jumbotron h1 {
 color: #fff;
 text-align: center;
 margin-bottom: 35px;
 letter-spacing: -1px;
 font-weight: bold;
}

footer {
 margin-top: 40px;
 padding-top: 5px;
 border-top: 1px solid #efefef;
 color: #777;

 a:hover {
   color: #222;
 }

 small {
   float: left;
 }

 ul {
   float: left;
   list-style: none;
 }
}
